@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #030014;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}